@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    background-color: #424E61;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}

.lista-cabecalho{
    color: white;
    font-size: 23px;
}

.lista-item{
    display: inline-block;
    padding: 0 12px;
}

#principal{
    background-image: linear-gradient(#424E61,#4EBFE9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    color: white
    
}
.textos{
    padding: 15px;
    width: 35%;
}
.primeiro-paragrafo{
    padding: 15px 0;
}
.segundo-paragrafo{
    padding: 15px 0;
}

.foto-estudante{
    width: 40%;
}

.lista-item a:link{
    text-decoration: none;
    color: white;
}

.lista-item a:visited{
    color: #cccccc;
    text-decoration: none;
}

.lista-item a:hover {
    color:#000000;
    text-decoration:underline;
  }

.estudante-foto{
    width: 120px;
}
.estudante-icone{
    width: 20px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.imagem-rodape{
    width: 10%;
}
.titulo-estudante{
    text-align: center;
}